{% extends "base.html" %}
{% block content %}
{% csrf_token %}
<div style="margin-top: -250px; font-family: 'Oleo Script'; font-size: 18px; width: 800px">
    <h3 style="line-height: 1.35rem; margin-bottom: 1.5rem;">
        Hello there, you brave and enthusiastic Changemaker!
    </h3>

    <p style="margin-bottom: 1.5rem;">
        This is the page where part of the magic happens. This is the page that lets us stay connected between sessions.
        It gives you the opportunity to log your progress every day, and it gives me the chance to oversee your journey
        and interact with you in a short amount of time should you need a little extra support.
    </p>

    <p style="margin-bottom: 1.5rem;">
        So how does it work?

        It is simple:
    </p>

    <p style="margin-bottom: 1.5rem;">
        You got your own username and password in an e-mail. You can use that to log in to your own interface and
        button. If you have trouble logging in, please contact me and we will figure out what is the problem. Nothing
        shall stand between you and your button :)
    </p>

    <p style="margin-bottom: 1.5rem;">
        The page is very minimalist, what you have is the button itself, which you need to push every day before
        midnight, indicating that you are working towards your goal. If you push it, that means that everything is going
        according to the plan we have set out for you.
    </p>

    <p style="margin-bottom: 1.5rem;">
        If you don’t push it one day, I will call you the next day to see what happened and to give you extra motivation
        and support if you need it, and help you get back on track. You should expect a short conversations, a few
        minutes maximum.
    </p>

    <p style="margin-bottom: 1.5rem;">
        So, your task here is to log in every day after you have done what you intended to do that day, and push the
        button signifying that you have done it.
    </p>

    <p style="margin-bottom: 1.5rem;">
        Of course you can just push the button without actually putting any effort into your goal. Some day it will
        likely happen, and that is okay. We are going for consistency here, to help you build your new habits. It is
        okay if some days don’t go according to the plan, because that is how life works and it is something we have to
        be prepared for and adapt to it and work with it as well.
    </p>

    <p style="margin-bottom: 1.5rem;">
        This is a chance for you to have an extra support to reach those goals you have and develop yourself at the same
        time. Take it. Use it wisely. Because if not now, then when?
    </p>
    Have a great journey!

    Cheers,

    Anita
</div>
{% endblock %}
